/* body 要素のスタイル */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0fff0;
  color: #555;
}

/* ナビゲーションメニューのスタイル */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0262b1;
  color: white;
  padding: 0 20px;
  position: relative;
}

/* モバイル用のメニューアイコンのスタイル */
nav .menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* ナビゲーションリンクのスタイル */
nav .nav-links {
  list-style: none;
  padding: 0;
  display: flex;
}

/* ナビゲーションリンクのリストアイテムのスタイル */
nav .nav-links li {
  margin-left: 20px;
}

/* ナビゲーションリンクのアンカーのスタイル */
nav .nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* ナビゲーションリンクのホバー時のスタイル */
nav .nav-links li a:hover {
  color: #ff69b4;
}

/* モバイル用のメディアクエリ */
@media (max-width: 768px) {
  nav .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #0262b1;
    position: absolute;
    top: 60px;
    left: 0;
    transition: all 0.3s ease-in-out;
  }

  nav .nav-links.nav-active {
    display: flex;
  }

  nav .menu-icon {
    display: block;
  }
}

/* header 要素のスタイル */
header {
  text-align: center;
  padding: 4em 0;
  background-image: url('Diary/img/tyami.jpeg');
  background-size: cover;
  background-position: center bottom;
  color: white;
  position: relative;
  animation: floatUp 12s ease-in-out forwards;
}

/* floatUp アニメーションの定義 */
@keyframes floatUp {
  0% {
    background-position: center bottom;
  }
  50% {
    background-position: center top;
  }
  100% {
    background-position: center 39%;
  }
}

/* header 要素の擬似要素 before のスタイル */
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(135, 206, 250, 0.5);
  z-index: 1;
}

/* header 内の h1 要素のスタイル */
header h1 {
  position: relative;
  z-index: 2;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  word-break: break-word;
}

/* main 要素のスタイル */
main {
  padding: 20px;
  padding-bottom: 80px;
}

/* section 要素のスタイル */
section {
  margin-bottom: 2em;
}

/* h2 要素のスタイル */
h2 {
  color: #ff69b4;
  border-bottom: 2px solid #98fb98;
  padding-bottom: 0.5em;
}

/* h3 要素のスタイル */
h3 {
  color: #0626f2;
}

/* a 要素（リンク）のスタイル */
a {
  color: #0262b1;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

/* a 要素のホバースタイル */
a:hover {
  color: #ff69b4;
  text-decoration: underline;
}

/* .Profile クラスのスタイル */
.Profile {
  background-color: #b6f7b6;
  border: 1px solid #98fb98;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

/* .Profile クラスのホバースタイル */
.Profile:hover {
  transform: translateY(-5px);
}

/* .Profile 内の img 要素のスタイル */
.Profile img {
  border-radius: 50%;
  width: auto;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

/* .Profile 内の h3 要素のスタイル */
.Profile h3 {
  margin: 0;
  color: #ff69b4;
  font-size: 22px;
}

/* .Profile 内の p 要素のスタイル */
.Profile p {
  color: #555;
  font-size: 14px;
  margin: 10px 0 0;
}

/* .Profile 内の a 要素のスタイル */
.Profile a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  color: white;
  background-color: #0262b1;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

/* .Profile 内の a 要素のホバースタイル */
.Profile a:hover {
  background-color: #ff69b4;
  color: white;
}

/* .search-container クラスのスタイル */
.search-container {
  padding: 20px;
}

/* .diary-entries クラスのスタイル */
.diary-entries {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* .diary-entry クラスのスタイル */
.diary-entry {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #98fb98;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  width: calc(33.333% - 20px);
}

/* .diary-entry クラスのホバースタイル */
.diary-entry:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* .image-container クラスのスタイル */
.image-container {
  flex: 0 0 80px;
  padding: 10px;
}

/* .text-container クラスのスタイル */
.text-container {
  flex: 1;
  padding: 10px 20px;
}

/* .diary-entry img のスタイル */
.diary-entry img {
  width: 100%;
  height: auto;
}

/* .diary-entry h3 のスタイル */
.diary-entry h3 {
  margin: 15px 0 0;
  color: #0626f2;
  font-size: 18px;
  word-break: break-word;
}

/* .diary-entry p のスタイル */
.diary-entry p {
  margin: 0.5em 0 0;
  color: #555;
  font-size: 14px;
}

/* 上に戻るボタンのスタイル */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #271cf7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

#back-to-top:hover {
  background-color: #12b1f6;
}

/* button のスタイル */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0594f3;
  color: white;
  border: 2px solid #98fb98;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: white;
  color: #98fb98;
}

/* footer のスタイル */
footer {
  text-align: center;
  padding: 1em 0;
  width: 100%;
  background-color: #ff69b4;
  color: white;
}

/* .button-container のスタイル */
.button-container {
  text-align: center;
  margin-top: 1em;
}

/* メディアクエリ: 画面幅が900px以下の場合 */
@media screen and (max-width: 900px) {
  .diary-entry {
    width: calc(50% - 20px);
  }
}

/* メディアクエリ: 画面幅が600px以下の場合 */
@media screen and (max-width: 600px) {
  header {
    padding: 1em 0;
  }
  header h1 {
    font-size: 24px;
  }
  .diary-entry {
    width: calc(100% - 20px);
  }
  .diary-entry h3 {
    font-size: 16px;
  }
  footer {
    padding: 0.5em 0;
  }
}
