body {
    font-size: 1.2em; /* 文字を少し大きく */
    color: white; /* 文字色を白に */
    text-shadow: 2px 2px 4px #8B4513; /* 文字に茶色の縁を付ける */
}

body {
    text-align: center;
}

yle>
body {
    background-image: url('img/Diary.jpg');
    background-size: cover;
}

