.image-container {
    position: relative;
    width: 300px;
    height: 300px;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 1s;
}

.image1 {
    background-image: url('../img/IMG_1288.jpg');
    background-size: cover;
    background-position: center;
}

.image2 {
    background-image: url('../img/IMG_1291.jpg');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
}

@keyframes rotate {
    0% { transform: rotateY(0deg); }
    50% { transform: rotateY(180deg); }
    100% { transform: rotateY(360deg); }
}

.image-container:hover .image {
    animation: rotate 4s infinite;
}
