body {
    margin: 0; /* 外側の余白をなしにする */
    padding: 0; /* 内側の余白をなしにする */
    font-family: 'Times New Roman', Times, serif;
    background-color: #f1eae2; 
    color: #3E2723; 
  }
  header {
    text-align: center; 
    padding: 4em 0; 
    background-image: url('Diary/img/headerbackground.jpg'); 
    background-size: cover; 
    background-position: center bottom;
    color: #3E2723;
    position: relative; 
    animation:floatUp 5s ease-out
  }

    @keyframes floatUp { 
    0%{
        background-position: center top; /* アニメーション開始時の背景位置 */
    }
    100% {
        background-position: center 39%; /* アニメーション終了時の背景位置 */
    }       
    }
  header h1 {
    position: relative; /* 相対位置を設定 */
    z-index: 2; /* z-indexを2に設定 */
    margin: 0; /* 外側の余白をなしにする */
    text-shadow: 2px 2px 4px rgba(67, 60, 60, 0.5); /* 文字に影を設定 */
    word-break: break-word; /* 単語の途中で改行を許可 */
  }
  main {
    padding: 20px; /* 内側に20pxの余白を設定 */
    padding-bottom: 80px; /* 下に80pxの余白を設定 */
  }
  
  .profile ul, .diary ul {
    list-style: none;
    padding: 0;
  }
  section {
    margin-bottom: 2em; /* 下に2emの余白を設定 */
  }
  h2 {
    color: #3E2723; /* 文字色をピンクに設定 */
    background-position: center;
    text-align: center;
  }
  h4 {
    color: #3E2723;
    font-size: 50px;
  }
  .thumbnail-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color: #C2185B; 
    color: #f1eae2;
    padding: 20px;
    width: 5cm;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  .thumbnail-button img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
  }
  .thumbnail-button span {
    font-size: 1.1em;
    align-items: center;
  }
  
  .thumbnail-button:hover {
    background-color: #3E2723; /* ダークブルー */
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  a:hover {
    color: #3E2723; /* 文字色をピンクに変更 */
    text-decoration: underline; /* 下線を追加 */
  }
  .search-container {
    padding: 20px;
  }
  .diary-entries {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .diary-entry {
    display: flex; /* フレックスボックスレイアウトを使用 */
    align-items: center; /* 縦方向に中央揃え */
    background-color:#f1eae2; /* 背景色を白に設定 */
    border: 2px solid #C2185B; /* 枠線をライトグリーンに設定 */
    border-radius: 10px; /* 角を丸くする */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
    overflow: hidden; /* 内容が溢れた場合に隠す */
    transition: transform 0.3s, box-shadow 0.3s; /* ホバー時のアニメーションを設定 */
    width: calc(33.333% - 20px); /* 幅を3分の1に設定し、20px引く */
  }
  .diary-entry:hover {
    transform: scale(1.05); /* 1.05倍に拡大 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 影を強調 */
    cursor: pointer; /* カーソルをポインタに変更 */
  }
  
  /* .image-container クラスのスタイル */
  .image-container {
    flex: 0 0 80px; /* 幅を80pxに固定 */
    padding: 20px; /* 内側に10pxの余白を設定 */
  }
  
  /* .text-container クラスのスタイル */
  .text-container {
    flex: 1; /* 残りのスペースを使用 */
    padding: 10px 20px; /* 内側に10px（上下）20px（左右）の余白を設定 */
  }
  
  /* .diary-entry img のスタイル */
  .diary-entry img {
    width: 100%; /* 幅を100%に設定 */
    height: auto; /* 高さを自動調整 */
  }
  .diary-entry h3 {
    margin: 15px; /* 外側の余白をなしにする */
    color: #3E2723; /* 文字色を青に設定 */
    font-size: 18px; /* フォントサイズを18pxに設定 */
    word-break: break-word; /* 単語の途中で改行を許可 */
  }
  #back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #C2185B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  #back-to-top:hover {
    background-color: #3E2723;
  }
  button {
    padding: 10px 20px; /* 内側に10px（上下）20px（左右）の余白を設定 */
    font-size: 16px; /* フォントサイズを16pxに設定 */
    background-color: #3E2723; /* 背景色を青に設定 */
    color: white; /* 文字色を白に設定 */
    border: 2px solid #C2185B; /* 枠線をライトグリーンに設定 */
    border-radius: 20px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインタに設定 */
    transition: background-color 0.3s, color 0.3s; /* ホバー時のアニメーションを設定 */
  }
  
  /* button のホバースタイル */
  button:hover {
    background-color: #3E2723; /* 背景色を白に変更 */
    color: #fff; /* 文字色をライトグリーンに変更 */
  }
  footer {
    text-align: center; /* 中央揃え */
    padding: 1em 0; /* 上下に1emの余白を設定 */
    width: 100%; /* 幅を100%に設定 */
    background-color: #3E2723; /* 背景色をピンクに設定 */
    color: white; /* 文字色を白に設定 */
  }
  
  /* .button-container のスタイル */
  .button-container {
    text-align: center; /* 中央揃え */
    margin-top: 1em; /* 上に1emの余白を設定 */
  }
  @media screen and (max-width: 900px) {
    .diary-entry {
      width: calc(50% - 20px); /* 幅を50%に設定し、20px引く */
    }
  }
  
  /* メディアクエリ: 画面幅が600px以下の場合 */
  @media screen and (max-width: 600px) {
    header {
      padding: 1em 0; /* 上下に1emの余白を設定 */
    }
    header h1 {
      font-size: 24px; /* フォントサイズを24pxに設定 */
    }
    .diary-entry {
      width: calc(100% - 20px); /* 幅を100%に設定し、20px引く */
    }
    .diary-entry h3 {
      font-size: 16px; /* フォントサイズを16pxに設定 */
    }
    footer {
      padding: 0.5em 0; /* 上下に0.5emの余白を設定 */
    }
  }
  
  